---
import Section from '@layouts/ui/Section.astro'
import { basics as basicsBr } from '@cv'
import { basics as basicsEn } from '@cv-en'
import { getLocaleFromUrl } from '@/src/utils/i18n'

const currentLocale = getLocaleFromUrl(Astro.url.pathname)
const basics = currentLocale === 'en' ? basicsEn : basicsBr
const title = currentLocale === 'en' ? 'About Me' : 'Sobre Mim'
const { summary } = basics
---

<Section title={title}>
  <p>{summary}</p>
</Section>

<style></style>
