---
import Section from '@layouts/ui/Section.astro'
import HTML from 'icons/html.astro'
import CSS from 'icons/css.astro'
import JavaScript from 'icons/javascript.astro'
import TypeScript from 'icons/type.astro'
import React from 'icons/react.astro'
import Node from 'icons/node.astro'
import Git from 'icons/git.astro'
import GitHub from 'icons/GitHub.astro'
import Tailwind from 'icons/tailwind.astro'
import Next from 'icons/next.astro'
import { skills as skillsBr } from '@cv'
import { skills as skillsEn } from '@cv-en'
import Kotlin from 'icons/kotlin.astro'
import { getLocaleFromUrl } from '@/src/utils/i18n'

const currentLocale = getLocaleFromUrl(Astro.url.pathname)

const skills = currentLocale === 'en' ? skillsEn : skillsBr

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  Git,
  GitHub,
  Next,
  Tailwind,
  Kotlin,
}
---

<Section title={currentLocale === 'en' ? 'Skills' : 'Habilidades'}>
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === 'Next.js' ? 'Next' : name
        const Icon = SKILLS_ICONS[iconName]

        return (
          <li title={name} class='skill'>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
