---
import Layout from '@layouts/Layout.astro'

import About from '@components/sections/About.astro'
import Experience from '@components/sections/Experience.astro'
import Hero from '@components/sections/Hero.astro'
import KeyboardManager from '@components/KeyboardManager.astro'
import Projects from '@components/sections/Projects.astro'
import Skills from '@components/sections/Skills.astro'
import ThemeIcon from '@components/ThemeIcon.astro'
---

<Layout title='Marcy - Mini Portfólio'>
  <main>
    <ThemeIcon />
    <Hero />
    <About />
    <Skills />
    <Experience />
    <Projects />
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
</style>
