---
import Layout from '@/layouts/Layout.astro'

import About from '@/components/sections/About.astro'
import Education from '@/components/sections/Education.astro'
import Experience from '@/components/sections/Experience.astro'
import Hero from '@/components/sections/Hero.astro'
import KeyboardManager from '@/components/KeyboardManager.astro'
import Projects from '@/components/sections/Projects.astro'
import Skills from '@/components/sections/Skills.astro'
---

<Layout title='Minimalist Portfolio'>
  <main>
    <Hero />
    <About />
    <Skills />
    <Experience />
    <!--- <Education /> --->
    <Projects />
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
</style>
