---
import { getLocaleFromUrl } from '@src/utils/i18n'
import International from 'icons/International.astro'

const currentLocale = getLocaleFromUrl(Astro.url.pathname)

interface Locale {
  name: string
  otherName: string
  buttonText: string
}

const locales: Record<string, Locale> = {
  'pt-br': {
    name: 'Português Brasileiro',
    otherName: 'Inglês',
    buttonText: 'Alternar Linguagem',
  },
  en: {
    name: 'English',
    otherName: 'Brazilian Portuguese',
    buttonText: 'Toggle Language',
  },
}

const toggleLocale = () => {
  const newLocale = currentLocale === 'en' ? 'pt-br' : 'en'
  window.location.href = `/${newLocale}`
}

const localizedText = currentLocale
  ? locales[currentLocale]
  : { name: '', buttonText: '' }
const { name, buttonText } = localizedText

const isActiveLocale = (locale: string) => currentLocale === locale

const { toggleLocale: toggle } = Astro.props
---

<div>
  {
    localizedText && (
      <ul>
        <div id='locale-toggle' onclick={toggle}>
          <span
            style={{
              fontWeight: isActiveLocale('pt-br') ? 'bold' : 'normal',
            }}
          >
            {isActiveLocale('pt-br') ? name : locales['pt-br'].name}
          </span>{' '}
          /{' '}
          <span
            style={{
              fontWeight: isActiveLocale('en') ? 'bold' : 'normal',
            }}
          >
            {isActiveLocale('en') ? name : locales['en'].name}
          </span>
        </div>

        <a href={currentLocale === 'en' ? '/' : '/en'} class='toggleBtn'>
          <International />
          {buttonText}
        </a>
      </ul>
    )
  }
</div>

<style>
  ul {
    display: grid;
    justify-items: end;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
  }

  .toggleBtn {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #3a539b;
    border: 1px solid #3a539b;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .toggleBtn:hover {
    background: #fff;
    color: #3a539b;
    border: 1px solid #fff;
  }
</style>
